@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-font: Helvetica-Neue, sans-serif;

$bg-color: #EEEEEE;
$red: #FFDADA;
$blue: #DAF1FF;
$lightgrey: #EEEEEE;
$darkgrey: #898989;
$black: #000;
$white: #fff;

.hidden {
  display: none;
}

.title {
  color: $darkgrey;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.title2 {
  color: $black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.title3 {
  color: $darkgrey;
  font-size: 12px;
  font-weight: bold;
}
