@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-font: Helvetica-Neue, sans-serif;

$bg-color: #EEEEEE;
$red: #FFDADA;
$blue: #DAF1FF;
$lightgrey: #EEEEEE;
$darkgrey: #898989;
$black: #000;
$white: #fff;
