@import './_globals';

html {
  font-family: $main-font;
  letter-spacing: 0.5px;
  background: $bg-color;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

button {
  font-family: $main-font;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}
