@import './_globals';

html {
  font-family: $main-font;
  letter-spacing: 0.5px;
  background: $bg-color;
}

.title {
  color: $darkgrey;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.title2 {
  color: $black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.title3 {
  color: $black;
  font-size: 12px;
  font-weight: bold;
}

.container {
  display: flex;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

button {
  font-family: $main-font;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
